@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html {
  font-size: 5.31vw;
  /* font-size:22px */
}

:root {
  --brandClr: #802a8f;
  --pinkClr: #f0d0dd;
  --pinkClr2: #f0d0dc;
}

.main-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

::-webkit-scrollbar{
    width: 0.15rem;
    height: 2rem !important;
  }
  
  ::-webkit-scrollbar-track{
  
  }
  ::-webkit-scrollbar-thumb{
    background-color:var(--brandClr) !important;
  border-radius: 1rem;
  }

@media screen and (min-width: 768px) {
  html {
    font-size: 2.76vw;
    /* font-size: 53px; */
  }

  .main-app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100% !important;
  }
  label{
font-size: 0.7rem;
margin-left: 0.8rem;
font-weight: 600;
  }
 .role-details-container{ 
  width: 80%;
  height: 210vh;
  margin-left: 4rem;
  box-shadow: 0 0.0377rem 0.41rem 0 rgba(0, 0, 0, 0.08);
  padding: 1.5rem;   
  margin-top: 1.2rem;
  margin-bottom: 2rem;
 }
 .role-text-h1{
    font-size: 0.9rem;
    color: var(--brandClr);
    margin: 0.8rem 0rem 0.5rem 2rem;
  }
  .role-image-logo{
    width: 0.7rem;
    cursor: pointer;
    position: relative;
    left: 4.2rem;
    bottom: 4.3rem;
    z-index: 9999;
  }
 
#myDialog{
  justify-self: center !important;
  align-self: center !important;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0.0377rem 0.41rem 0 rgba(0, 0, 0, 0.07);
  border-radius: 0.1rem;
  background-color: rgb(255, 255, 255) !important;

  }
  .myDialog-container{
    width: 8rem;
    height: 3.5rem;
    padding: 0.11rem 0 0 0.1rem;
    margin-top: 0.1rem;
    display: block !important;
  }
  .myDialog-container img{
    width: 1rem;
    height: 1rem;
    margin: 0.15rem;
    cursor: pointer;
    }
    .myDialog-container img:hover{
      background-color: rgb(240, 206, 211);
    }
    #role-logo-div-container{
      width: 3rem;
      height: 1.4rem;
      border: 0.03rem solid var(--brandClr);
      position: relative;
      left: 19.53rem;
      bottom: 5.8rem;
      display: flex;
      align-items: center;
      border-radius: 0.1rem;
      
    }
    form input{
      padding: 0.2rem;
      border: 0.009rem solid var(--brandClr);
      border-radius: 0.1rem;
      outline: none;
      margin: 0.5rem;
      width: 5.5rem;
    font-size: 0.4rem;
    }
 
    #role{
      margin-left: 3.7rem;
    }
    .role{
      margin-left: 2.03rem;
    }
    #role_id{
      margin-left: 2rem;
    }
    #location{
      margin-left: 2.5rem;
    }
    .location{
      margin-left: 2rem;
    }

    #experience{
      margin-left: 0.86rem;
    }
     #qualification{
      margin-left: 1.3rem;
    }
    .qualification{
      margin-left: 1.89rem;
    }

    #reports_to{
     margin-left: 0.95rem;    
    }
  
    #time_of_work{
      margin-left: 1.2rem;
    }
    .time_of_work{
      margin-left: 1.89rem;
    }
    #salary{
      margin-left: 2.25rem;
    }
    #company_profile{
      position: relative;
      right: 0.3rem;
    }
    .company_profile{
      margin-left: 1.85rem;
    }
    .experience{
      margin-left: 0.8rem;
    }
   
    #hiring_manager{
    margin-left: 3.02rem;
    position: relative;
    bottom: 1.2rem;
    }
    .hm-class{
    position: relative;
    bottom: 0.7rem;
    left: 0.8rem;
    }
    .hm-class+span{
      position: relative;
      left: 0.62rem;
      bottom: 0.66rem;
    }
    .hme-class{
     margin-left: 13.8rem;
     position: relative;
     bottom: 1.25rem;
    }
    .hme-class+span{
      position: relative;
      bottom: 1.25rem;
      right: 0.2rem;
     }
    #hiring_manager_email{
    margin-left:  2.25rem;
   position: relative;
   bottom: 3.2rem;
   left: 0.88rem;
    }
    .hiring_manager_email{
      margin-left: 2rem;
    position: relative;
    bottom: 1.5rem;
    }
    #role_overview{
      margin-left: 1.25rem;
      position: relative;
      bottom: 2.75rem;
    }
    .role_overview{
      position: relative;
      bottom: 2.75rem;
    }
    .role-image{
      position: relative;
   
      margin-left: 13.8rem;
      bottom: 4.5rem;
    }
    .skill_required,.job_description{
position: relative;
bottom: 5rem;
    }
    
  
    form textarea{
      border: 0.009rem solid var(--brandClr);
    resize: none;
    outline: none;
    padding: 0.5rem;
   border-radius: 0.1rem;
   margin-left: 1.5rem;
   width: 88.25%;
   height: 5rem;
   margin-top: 0.2rem;
   font-size: 0.5rem;
   position: relative;
   bottom: 5rem;
    }
    #submit-btn{
    background-color: var(--brandClr);
    color: white;
    font-size: 0.55rem;
    padding: 0.15rem !important;
    margin-top: 1.5rem;
    cursor: pointer;
    width: 3.5rem;
    border-radius: 0.1rem;
    }
    

}
